{% extends 'base.html' %}
{% block title %}测试报告{% endblock %}
{% block content %}
    <div class="span9" id="content">
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">测试报告</div>
            </div>
            <h4>{{ msg }}</h4>
            {% if messages %}
                <div class="messages" style="margin-left: 10px">
                    {% for message in messages %}
                        <p {% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:red">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        <strong style="margin-left: 5px">选择要查看的项目:</strong>
            <select id="xuanzezhixing" onclick="sendproject()">
                {% for project in projects %}
                    <option>{{ project.name }}</option>
                {% endfor %}
            </select>

            <div class="block-content collapse in">
                <div class="span12">
                    <div id="main" style="width: 800px;height:400px;margin-left: 2%;margin-top: 10px">
                    </div>
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div class="row">
                            <div class="span6">
                            </div>
                        </div>
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-hover table table-striped table-bordered dataTable" id="example2" aria-describedby="example2_info">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 168px;">项目</th>
                                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 168px;">总计</th>
                                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 168px;">通过</th>
                                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 168px;">失败</th>
                                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 168px;">错误</th>
                                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 168px;">测试日志</th>
                                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 168px;">测试报告</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 233px;">创建者</th>
                                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 168px;">测试时间</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 214px;">操作</th>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all" id="testreport">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js_add %}
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
{% endblock %}
{% block js %}
     window.onload=sendproject();
     function baidu() {
    var dom = document.getElementById("main");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    option = {
    title: {
    text: '测试报告折线图'
    },
    tooltip : {
    trigger: 'axis',
    axisPointer: {
    type: 'cross',
    label: {
    backgroundColor: '#6a7985'
    }
    }
    },
    legend: {
    data:['通过','失败','错误']
    },
    grid: {
    left: '3%',
    right: '4%',
    bottom: '3%',
    containLabel: true
    },
    toolbox: {
    feature: {
    saveAsImage: {}
    }
    },
    xAxis: {
    type: 'category',
    boundaryGap: false,
    data:  (function (){
    var now = document.getElementsByClassName('sortingdate');
    var res = [];
    for (var i=0;i< now.length;i++)  {
    res.push((now[i].innerHTML).substring(0,18) );
    }
    return res;
    })()
    },
    yAxis: {
    type: 'value',
    scale: true
    },
    series: [
    {
    name:'通过',
    type:'line',
    stack: '总量',
    data:(function (){
    var res = [];
    var data = document.getElementsByClassName('sorting_21');
    for (var i=0;i< data.length;i++)  {
    res.push((data[i].innerHTML));
    }
    return res;
    })()
    },
    {
    name:'失败',
    type:'line',
    stack: '总量',
    data:(function (){
    var res = [];
    var data = document.getElementsByClassName('sorting_23');
    for (var i=0;i< data.length;i++)  {
    res.push((data[i].innerHTML));
    }
    return res;
    })()
    },
    {
    name:'错误',
    type:'line',
    stack: '错误',
    data:(function (){
    var res = [];
    var data = document.getElementsByClassName('sorting_24');
    for (var i=0;i< data.length;i++)  {
    res.push((data[i].innerHTML));
    }
    return res;
    })()
    },

    ]
    };
    ;
    if (option && typeof option === "object") {
    myChart.setOption(option, true);
    }
    }
    function sendproject() {
    var project=document.getElementById('xuanzezhixing');
    var index=project.selectedIndex;
    var value = project.options[index].value;
    $.ajax({
    url:'{% url 'testreport' %}',
    type:'POST',
    data:value,
    contentType: 'application/json; charset=UTF-8',
    processData:false,
    success:function(data){
    if (data['code']==1 ){
    var insertss=$('#testreport');
    insertss.empty();
    var mdata =data['data'];
    if (mdata.length<=0){
    insertss.append("<h6 style='color: red;text-align: center;'>选择的项目没有测试报告</h6>");
    }
    else{
    for(var i=0;i< mdata.length;i++){
    insertss.append("<tr class='gradeA odd' id='"+mdata[i].id+"'><td class=' sorting_1 '>"+mdata[i]['project']+"</td><td class='sorting_1'>"+mdata[i]['tatal']+"</td><td class='sorting_21'>"+mdata[i]['passnum']+"</td><td class='sorting_23'>"+mdata[i]['failnum']+" </td><td class='sorting_24'>"+mdata[i]['errornum']+" </td><td class='sorting_1'><a href='/file_down/"+mdata[i].testlog+"'>"+mdata[i]['testlog']+"</a></td><td class='sorting_1'><a href='/file_down/"+mdata[i].testrept+"'>"+mdata[i]['testrept']+"</a></td><td class=''>"+mdata[i].testuser +"</td><td class='sortingdate'>"+mdata[i].makedate+"</td> <td class=''> {% if request.user.is_superuser  %}<button class='btn btn-danger ' type='button' onclick='deletetestreport("+mdata[i].id+")' > 删除</button> {% else %}{% endif %}</td> </tr>")  };
    };
    baidu();
    };
    },error:function (res) {
    alert('异步请求失败，请联系管理员！！！')
    window.location.reload();
    }
    });
    };
    function deletetestreport(id) {
    $.ajax({
    url:'{% url 'testreport' %}',
    type:'DELETE',
    data:id,
    contentType: 'application/json; charset=UTF-8',
    processData:false,
    success:function(data){
    if(data['code']!=2){
    alert(data['data'])
    }else{
    alert(data['data'])
    caseid=document.getElementById(id);
    caseid.hidden=true;
    }
    }
    })
    }
{% endblock %}
