{% extends 'base.html' %}
{% block title %}修改密码{% endblock %}
{% block content %}
    <div class="span9" id="content">
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">修改密码</div>
            </div>
            <h4 style="color: red">{{ msg }}</h4>
            <div class="block-content collapse in">
                <div class="span12">
                    <div class="table-toolbar">
                        <div class="btn-group">
                        </div>
                    </div>
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div class="row">
                            <div class="span6">
                            </div>
                        </div>
                        <form action="/changepassword/" method="post" style="text-align: center;">
                            {% csrf_token %}
                            <p>原密码：<input type="text" placeholder="原密码" name="yuanmima"></p>
                            <p>新密码：<input type="password" placeholder="新密码" name="xinmima"></p>
                            <p>确认密码：<input type="password" placeholder="确认密码" name="querenmima"></p>
                            <p><input type="submit" value="修改密码" class="btn-success"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}